.main{
  cursor: pointer;
}
.about{
  overflow: hidden;
  h1{
    font-size: 18rem;
    line-height: 0.8;
  }
  span{
    font-weight: 500;
    font-size: 3.2rem;
  }
  .fixed{
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;

    color: var(--primary);
    mix-blend-mode: difference;
    .fixedItem{
      flex: 1;
    }
    .fixedItem:nth-child(2){
      text-align: center;
    }
    .fixedItem:nth-child(3){
      text-align: right;
    }
  }
  .trigger{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .triggerWrapper{
      width: 100%;
      height: inherit;
      .triggerTextTitle{
        position: relative;
        display: inline-flex;
        gap: 2rem;
        z-index: 1;
        .triggerTextTitleWord{
          text-transform: uppercase;
        }
      }
    }
  }
  .triggerMedia{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 8rem;
    z-index: 2;
    .triggerMediaFigure{
      position: relative;
      width: 30rem;
      height: 15rem;
      overflow: hidden;
      .triggerMediaImage{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}